/* Minified: print.css */
table.discussion_table td.task_id,table.discussion_table th.discussion_id{width:35pt;text-align:right}table.discussion_table td.discussion_id{color:#666;width:80px}table.discussion_table td.icon{color:#666;text-align:right}
