/* Minified: jquery.objectAttachments.css */
div.object_attachments ul{list-style:none;zoom:1;overflow:hidden;margin:8pt 0 0 0}div.object_attachments ul li a{display:block;float:left;text-align:center;margin:10px 8px 20px 0;width:100px}div.object_attachments ul li a span{display:block}
